    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }

    .container {
        width: 100%;
        height: 100vh;
        background-position: center;
        background-size: cover;
        background-color: rgb(219, 239, 164);
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(https://image.cnbcfm.com/api/v1/image/106901699-1624478603272Resorts-World-Las-Vegas---Casino---Credit-Megan-Blair-jpg?v=1624478654&w=1600&h=900);


    }

    .boxes {
        width: 300px;
        height: 200px;
        text-align: center;
        border-radius: 5px;
        box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
        
        
    }
    
    .boxes :nth-child(1) {
        width: 100%;
        height: 150px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../img/slot.jpeg);
        font-weight: 900;
        font-size: 45px;
        letter-spacing: 20px;
        padding: 50px 0 0 15px;
        color: rgb(255, 0, 0);
    }

    button {
        cursor: pointer;
        width: 100%;
        height: 50px;
        background-color: rgb(160, 4, 4);
        border: none;
        border-radius: 5px;
        font-size: 22px;
        font-family: 600;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
    button:hover{
        background-color: rgb(248, 55, 55);
    }