* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
body{
    background-image: url("./images/b4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   
}
.container{
    display: flex;
margin:5% 40% 5% 70%;
}

.spin{
    width: 100px;
    height: 50px;
    background-color: white;
    color: orangered;
    font-weight: 800;
    font-size: 25px;
    box-shadow: 5px 10px 18px red;
}

.images{
    display: flex;
    height: 200px;
    width: 200px;
}

.picture{
    display: hidden;
}
.icon{
    background-size: cover;
    
}
.item{
    height: 200px;
    margin-left: 55%;
    display: flex;
   overflow: hidden;
   
}

.item2{
   border: 2px solid black;
    width: 200px;
    height: 150px;
    display: flex; 
    
}

.res{
    margin-left: 68%;
    margin-bottom: 5%;
}

.result{
   border: 2px solid black;
   width: 200px;
   height: 50px;
   font-size: 25px;
   color: red;
   text-align: center;
   box-shadow: 5px 10px 18px red;
   font-weight: bolder;
}

.won{
    font-size: 25px;
}

.amount{
    position: absolute;
    display: flex;
    border: 2px solid black;
    width: 500px;
    margin-left: 60%;
    background-color: white;
    box-shadow: 5px 10px 18px red;
}

.cashtxt{
    color: white;
    font-size: 25px;
    color: red;
    font-weight: bolder;
}

.signtxt{
    color: white;
    margin-left: 75%;
    font-size: 25px;
    color: red;
    font-weight: bolder;
}

.valuetxt{
    width: 60px;
    margin-right: 1%;
    font-size: 25px;
    color: red;
    font-weight: bolder;
}